/// Regular font family
/// @type List
$text-font-stack: 'Roboto', 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Roboto', 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

/// Main brand color
/// @type Color
$brand-color: white !default;

/// Main colors
/// @type Color
$light-color: burlywood;
/// @type Color
$dark-color: saddlebrown;
