doctype html


html
    include ./templates/commonVariables
    head
        include ./templates/head
    
    body
        header
            include ./templates/header

        div.jumbotron.jumbotron-fluid.bg-white
            .grid.container-fluid.d-flex.flex-column
                block body

        footer
            include ./templates/footer
        
        include ./templates/includes
            
