block commonVariables
    - var app = undefined;
    - const appName = fromServer.appName;
    - const routePrefix = fromServer.routePrefix;
    - const chessUtils = fromServer.chessUtils;

    - function fileName(fullFilePath, ext=true){
    -    const filenameWithExt = fullFilePath.substring(fullFilePath.lastIndexOf('/') + 1).split('.');
    -    return filenameWithExt[0] + (ext ? "." + filenameWithExt[1] : "");
    - };

    - function capitalize(str){
    -     return str ? str.charAt(0).toUpperCase() + str.slice(1) : undefined;
    - };