nav.navbar.fixed-top.navbar-expand.main-nav
    #nav-logo.navbar-brand
        a(href=routePrefix)
            i.fas.fa-chess.fa-2x

    span#nav-app-title.navbar-text.mr-auto.ml-auto
        | Chess Game