script(src=routePrefix + "/public/js/jquery/jquery-3.4.1.min.js")
script(src=routePrefix + "/public/js/popper/popper.min.js")
script(src=routePrefix + "/public/js/bootstrap/bootstrap.4.1.3.min.js")

script(src=routePrefix + "/public/js/application/utils.js")

script.
    removeUrlParameter("token");
        
block extrascript